@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/* Apply below style to all elements in the page */

*{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(64,160,64);
    height: 65px;
    z-index: 100;
}

.header .nav-bar{
    display: flex;
}

.header .nav-bar a{
    flex: 1;
    text-align: center;
    font-size: 22px;
    line-height: 65px; /*space between 2 lines*/
    color:aliceblue;
}
