@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

/* Apply below style to all elements in the page */

*{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
    z-index: 100;
}

.header .nav-bar{
    display: flex;
    

}

.header .nav-bar a{
    flex: 1;
    text-align: center;
    font-size: 22px;
    line-height: 65px; /*space between 2 lines*/
    color:aliceblue;
}

/* on hover change brightness */
.header .nav-bar a:hover{
    filter: brightness(0.8);
}

/* apply different colors on each menu item */
.header .nav-bar a:nth-child(1){
    background-color: #db1616;
    border-radius: 25px;
}
.header .nav-bar a:nth-child(2){
    background-color: #6b9c1c;
    border-radius: 25px;
}
.header .nav-bar a:nth-child(3){
    background-color: #2697e2;
    border-radius: 25px;
}
.header .nav-bar a:nth-child(4){
    background-color: #230a80;
    border-radius: 25px;
}
.header .nav-bar a:nth-child(5){
    background-color: #970a90;
    border-radius: 25px;
}
